alabaster==0.7.12
appdirs==1.4.4
asciidoc==10.1.4
Babel==2.9.1
Brlapi==0.8.3
btrfsutil==5.16.2
CacheControl==0.12.6
cffi==1.15.0
chardet==4.0.0
click==8.1.2
colorama==0.4.4
contextlib2==0.6.0.post1
cryptography==36.0.2
distlib==0.3.4
distro==1.7.0
docutils==0.16
Flask==2.1.1
html2text==2020.1.16
html5lib==1.1
idna==3.3
imagesize==1.3.0
itsdangerous==2.1.2
Jinja2==3.0.3
lensfun==0.3.3
libfdt==1.6.1
louis==3.21.0
MarkupSafe==2.1.1
meson==0.62.0
more-itertools==8.10.0
mpmath==1.2.1
msgpack==1.0.3
netsnmp-python==1.0a1
numpy==1.22.3
ordered-set==4.0.2
packaging==20.9
pep517==0.12.0
ply==3.11
progress==1.6
pwquality==1.4.4
pycairo==1.21.0
pycparser==2.21
Pygments==2.11.2
PyGObject==3.42.1
pyOpenSSL==22.0.0
pyparsing==3.0.8
python-mpd2==3.0.5
pytz==2022.1
pyxdg==0.27
requests==2.27.1
resolvelib==0.5.5
retrying==1.3.3
rpm==4.17.0
scipy==1.8.0
six==1.16.0
snowballstemmer==2.2.0
Sphinx==4.5.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sympy==1.10.1
team==1.0
toml==0.10.2
tomli==2.0.1
urllib3==1.26.9
webencodings==0.5.1
Werkzeug==2.1.1
